[submodule "frontend"]
	path = frontend
	url = https://github.com/MastersAndFans/masterfans-ui.git
[submodule "backend"]
	path = backend
	url = https://github.com/MastersAndFans/masterfans-backend.git
